<div layout="row">
  <md-content>
    <h2 class="md-display">Welcome to nginlog!</h2>
    <p>Nginlog is an nginx traffic analysis tool. The nginlog server component must be installed separately on a web server. Once the server component is active, charts and maps showing web traffic on the server will be displayed in the <b>Request</b> and <b>Location</b> tabs.</p>
    <p>The server is currently displaying information for <b>35.197.30.50</b> at the domain <b>goats.party</b>. Please refer to the GitHub repository for documentation on the client and server components.</p>
  </md-content>
</div>
