body {
 font-family: 'Lato', sans-serif;
}

@media (max-width: 1279px) {
 md-toolbar, .md-toolbar-tools {
     height: 48px;
     min-height: 48px;
 }
}

.md-toolbar-tools, .chart-overflow-hidden {
  overflow-x: hidden;
}

.chart-overflow-hidden {
  overflow-y: hidden;
}

.pie-chart-size {
  max-width: 400px;
}

.doughnut-chart {
  min-width: 25rem;
}

.host-tables {
  padding-top: 2rem;
}

.chart-margin {
  margin-right: 3rem;
}

.center-title {
  text-align: center;
}

.brand {
  font-size: 1.3em;
  font-family: 'Exo 2', sans-serif;
}