@media (max-width: 1279px) {
 /* .main-toolbar-override, .md-toolbar-tools { */
 .main-toolbar, .md-toolbar-tools {
     margin-left: 0px;
     padding: 0;
 }
 md-toolbar, .md-toolbar-tools {
     height: 48px;
     min-height: 48px;
 }
}