@media (max-width: 1279px) {
 md-toolbar, .md-toolbar-tools {
     height: 48px;
     min-height: 48px;
 }
}

highchart, .md-toolbar-tools {
  overflow-x: hidden;
}

.visualization {
  height: 500px;
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto;
}