<!doctype html>
<html>
  <head>
    <title>nginlog</title>
    <meta charset="utf-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css" />
    <link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Exo+2:500|Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="app.css" />


    <!-- angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>

    <!-- angular-charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="http://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

    <!-- angullar-material-data-table -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.min.js"></script>

    <!-- angular-google-charts -->
    <!-- <script src='//maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyC1apOZaw0gTNljGQjM-JleJcpox-37LK4'></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.min.js"></script>

    <!-- nginlog scripts -->
    <script src="app.js"></script>
    <script src="routes/routes.js"></script>
    <script src="directives/locationGeoChart/locationGeoChart.directive.js"></script>
    <script src="directives/locationChart/locationChart.directive.js"></script>
    <script src="directives/locationDataTable/locationDataTable.directive.js"></script>
    <script src="directives/requestDataTable/requestDataTable.directive.js"></script>
    <script src="directives/doughnutChart/doughnutChart.directive.js"></script>
    <script src="components/home/home.controller.js"></script>
    <script src="components/location/location.controller.js"></script>
    <script src="components/navigation/navigation.controller.js"></script>
    <script src="services/visualization.service.js"></script>
  </head>
  <body ng-app="nginlog" ng-controller="navigationController">
    <div layout="row" ng-cloak layout-fill>
      <div layout="vertical" class="sidenav-container" ng-cloak>
        <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="2" style="overflow: hidden" flex>
          <md-toolbar md-whiteframe="3" style="position: relative;">
            <div class="md-toolbar-tools">
              <div hide show-gt-md>
                <span class="md-title brand">nginlog</span>
              </div>
              <div layout="column" hide-gt-md>
                <span class="md-title brand">nginlog</span>
              </div>
            </div>
          </md-toolbar>
          <div layout="column" style="overflow: auto" layout-fill flex>
            <md-content layout="column">
              <md-list>
                <md-list-item md-ink-ripple class="md-clickable" ng-click="navigate('/')"><div class="list-item-text">Home</div></md-list-item>
                <md-list-item md-ink-ripple class="md-clickable" ng-click="navigate('/location')"><div class="list-item-text">Location</div></md-list-item>
                <md-list-item md-ink-ripple class="md-clickable" ng-click="navigate('/request')"><div class="list-item-text">Request</div></md-list-item>
              </md-list>
            </md-content>
          </div>
        </md-sidenav>
      </div>
      <div layout="column" flex>
        <md-toolbar ng-cloak md-whiteframe="3" class="main-toolbar">
          <div class="md-toolbar-tools">
            <div hide-gt-md>
              <md-button class="md-icon-button md-primary" aria-label="Settings">
                <md-icon md-svg-icon="img/icons/menu.svg" ng-click="toggleSidenav()"></md-icon>
              </md-button>
            </div>
            <h1>Home</h1>
          </div>
        </md-toolbar>
        <md-content>
        <div layout="column" flex layout-padding-gt-sm ng-view></div>
        </md-content>
      </div>
    </div>
  </body>
</html>
