<div layout="row" layout-align="center">
  <md-content flex="66">
  <!-- <md-content flex="100"> -->
    <nginlog-location-geo-chart></nginlog-geo-chart-chart>
  </md-content>
</div>
<div layout="row" layout-align="center">
  <h2 class="md-display">Total Requests by Location</h2>
</div>
<div layout="row" layout-align="center" layout-wrap ng-controller="locationController">
  <md-content flex="66">
    <nginlog-location-chart></nginlog-location-chart>
  </md-content>
  <md-content flex="34">
    <nginlog-location-data-table></nginlog-location-data-table>
  </md-content>
</div>
