<div layout="row" layout-xs="column" ng-controller="locationController">
  <md-content>
    <nginlog-pie-chart></nginlog-pie-chart>
  </md-content>
  <md-content>
    <md-table-container>
      <table md-table md-progress="promise">
        <thead md-head md-order="query.order">
          <tr md-row>
            <th md-column md-order-by="key"><span>Country</span></th>
            <th md-column md-numeric md-order-by="value"><span>Requests</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="row in rows | filter: filter.search | orderBy: query.order |
                                limitTo: query.limit: (query.page - 1) * query.limit">
            <td md-cell>{{ row.key }}</td>
            <td md-cell>{{ row.value }}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-page="query.page"
                         md-total="{{ rows.count }}"></md-table-pagination>
  </md-content>
</div>
