<div ng-controller="locationController">
<md-content>

  <nginlog-pie-chart></nginlog-pie-chart>

</md-content>
<md-content>
<md-table-container>
  <!-- <table md-table md-row-select multiple ng-model="selected" md-progress="promise"> -->
  <table md-table>
    <!-- <thead md-head md-order="query.order" md-on-reorder="getDesserts"> -->
    <thead md-head>
      <tr md-row>
        <th md-column md-order-by="nameToLower"><span>Country</span></th>
        <th md-column md-numeric md-order-by="row.value"><span>Requests</span></th>
      </tr>
    </thead>
    <tbody md-body>
      <!-- <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in desserts.data"> -->
      <tr md-row ng-repeat="row in rows">
        <td md-cell>{{ row.key }}</td>
        <td md-cell>{{ row.value }}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>



</md-content>
</div>
